body{
    margin: 0;
    font-family: Arial, sans-serif;
}
header{
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px;
}
.logo{
    font-size: 24px;
    font-weight: bold;
    color: #b85c8e;
}
nav a{
    margin: 0 10px;
    text-decoration: none;
    color: #e91e63;
    font-weight: bold;
}